<form class="searchForm" action="" [formGroup]="searchForm">
  <div class="searchForm__inputs">
    <input class="searchForm__inputs__input input-from" formControlName="from" name="fromName" value=""
      placeholder="Откуда" autocomplete="off" (input)="getCities()">
    <ul *ngIf="cities && !searchForm.controls.from.pristine" class="searchForm__cities-list">
      <li class="searchForm__cities-list__item" *ngFor="let city of cities?.[1]"
        (click)="selectCity(directionTypes.from, city.at(1) || '')">{{ city.at(1) }}</li>
    </ul>
    <input class="searchForm__inputs__input input-to" formControlName="to" name="toName" value="" placeholder="Куда"
      autocomplete="off" (input)="getCities()">
    <ul *ngIf="cities && !searchForm.controls.to.pristine" class="searchForm__cities-list">
      <li class="searchForm__cities-list__item" *ngFor="let city of cities?.[1]"
        (click)="selectCity(directionTypes.to, city.at(1) || '')">{{ city.at(1) }}</li>
    </ul>
    <div class="searchForm__inputs__switch">
      <img class="img" src="/assets/icon-switch.png" alt="Switch">
    </div>
  </div>
  <div class="searchForm__date">
    <input class="btn active" type="button" value="Сегодня" (click)="selectDate($event)">
    <input class="btn" type="button" value="Завтра" (click)="selectDate($event)">
    <button class="btn searchForm__date__btn" type="button" (click)="showPicker()">
      <label class="label" for="date">Дата</label>
      <input #date class="date date-input" type="date" name="date" id="date" (change)="selectDate($event)">
      <input type="hidden" name="dateVal" formControlName="date">
    </button>
  </div>
  <div class="searchForm__transports" (click)="selectTransportType($event)">
    <input class="btn active" type="button" value="Любой">
    <button class="btn" type="button" value="plane">
      <img class="img" src="/assets/icon-plane.png" alt="plane">
    </button>
    <button class="btn" type="button" value="train">
      <img class="img" src="/assets/icon-train.png" alt="train">
    </button>
    <button class="btn" type="button" value="suburban">
      <img class="img" src="/assets/icon-suburban.png" alt="suburban">
    </button>
    <button class="btn" type="button" value="bus">
      <img class="img" src="/assets/icon-bus.png" alt="bus">
    </button>
    <input type="hidden" value="" formControlName="transportType">
  </div>
  <button [disabled]="!searchForm.valid" class="btn btn-yellow" type="button" (click)="search()">Найти</button>
</form>
