.container {
  padding: 12px 10px 10px;
}

.header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}

.loader {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}
