<ul class="list">
  <li class="list__card" *ngFor="let card of searchRes">
    <div class="list__card__info-wrap">
      <img class="img" src='{{ "/assets/icon-" + card.thread.transport_type + ".png" }}' alt="TransportType">
      <div class="list__card__info">
        <h4 class="list__card__info__title">{{ card.thread.title }}</h4>
        <span class="list__card__info__company">{{ card.thread.carrier.title }}</span>
      </div>
    </div>

    <div class="list__card__info">
      <b class="list__card__info__date">{{ card.start_date }}</b>
      <h3 class="list__card__info__time">{{ changeDate(card.departure) }}</h3>
      <span class="list__card__info__place">{{ card.from.title }}</span>
    </div>
    <div class="list__card__info">
      <span class="list__card__info__duration">{{ Math.ceil(card.duration/(60*60)) }}ч.</span>
    </div>
    <div class="list__card__info">
      <b class="list__card__info__date">{{ card.start_date }}</b>
      <h3 class="list__card__info__time">{{ changeDate(card.arrival) }}</h3>
      <span class="list__card__info__place">{{ card.to.title }}</span>
    </div>
  </li>
</ul>
